
.custom-scroll {
    ::-webkit-scrollbar {
        width: 10px;
    }
}

.loader {
    border: 8px solid #cdb8b8;
    border-radius: 50%;
    border-top: 8px solid blue;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .box {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
}

.cursor-pointer {
  cursor: pointer;
}